@model List<Empleado>

@{
    List<string> oficios = ViewData["OFICIOS"] as List<string>;
}

<h1>Empleados Oficios</h1>

<form method="post">
    <label>Seleccione Oficio:</label>
    <select class="form-control" name="oficio" size="5" multiple>
        @foreach (string ofi in oficios){
            <option value="@ofi">@ofi</option>
        }
    </select>
    <input type="text" name="incremento" class="form-control" />
    <button name="accion" value="read" class="btn btn-info">Mostrar empleados</button>
    <button name="accion" value="update" class="btn btn-warning">Incrementar salarios</button>
</form>

@if(Model != null){
    <table class="table table-info table-bordered">
    <thead>
        <tr>
            <th>
                Id Empleado
            </th>
            <th>
                Apellido
            </th>
            <th>
                Oficio
            </th>
            <th>
                Salario
            </th>
            <th>
                Id departamento
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var emp in Model) {
        <tr>
            <td>
                @emp.IdEmpleado
            </td>
            <td>
                @emp.Apellido
            </td>
            <td>
                @emp.Oficio
            </td>
            <td>
                @emp.Salario
            </td>
            <td>
                @emp.IdDepartamento
            </td>
        </tr>
}
    </tbody>
</table>
}

